h1 {
    text-align: center;
}

#caixa1 {
    border-radius: 1px;
}

h2 {
    text-align: center;
}

.centralizar {
    text-align: center;
}

p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#fonte {
    font-size: 30%;
    border-radius: 1px #f2f2f2;
}